<form [formGroup]="myLogin" (ngSubmit)="login()">
  <h1 class="login-title">Inicia sesión</h1>
  <p>Accede a tu agenda y recibe consultas</p>
  <div class="form-group mb-3">
    <label for="email" class="form-label">Correo</label>
    <input type="email" class="form-control rounded-pill p-3 shadow-lg" formControlName="email" aria-describedby="inputGroup-sizing-default" placeholder="Correo electrónico">
  </div>
  <div class="form-group mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input type="password" class="form-control rounded-pill p-3 shadow-lg" id="password" formControlName="password" placeholder="Contraseña">
  </div>
  <div class="d-flex justify-content-between align-items-center mb-4">
    <!-- Checkbox -->
    <div class="form-check mb-0">
      <input type="checkbox" class="form-check-input" name="connected">
      <label class="form-check-label" for="connected">Recuérdame</label>
    </div>
    <a href="#!" class="text-body text-reset">Olvidé mi contraseña</a>
  </div>

  <div class="d-grid">
    <button type="submit" class="btn login-btn btn-block rounded-pill">Iniciar sesión</button>
  </div>
</form>
