.col-fixed {
    padding: 0% !important;
}

.mat-sidenav {
    margin: 16px;
    width: 350px;
    height: 95%;
    border-right: none;
    color: black;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    background-color: #fff;
}

.content {
    height: calc(100vh - 130px);
    border-radius: 20px;
    height: 400px;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    margin: 16px;
    margin-left: 32px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #fff !important;
}

.mat-sidenav-container {
    height: calc(100vh - 90px);
    background-color: #f5f5f5 !important;
}

.mat-divider {
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: rgba(241, 241, 241, 100%);
}

.mat-sidenav-data-people {
    margin: 16px;
    width: 90%;
    padding-right: 1rem;
    margin-left: 32px;
    border-right: none;
    color: black;
    border-radius: 20px;
    padding: 16px;
    text-align: center;
    background-color: #fff;
}

.mat-sidenav-state-show {
    padding-right: 1rem;
    margin-left: 100px;
    border-right: none;
    color: black;
    text-align: center;
}

::ng-deep .p-dialog .p-dialog-header {
    background: #f5f5f5 !important;
}


/* modal */


/* RIGHT PANEL */

.recipe {
    text-align: left;
    font-family: 'Montserrat' !important;
    font-weight: 900 !important;
    font-size: 21px !important;
}

.doctor {
    text-align: left;
    font-family: 'Montserrat' !important;
    font-weight: 900 !important;
    font-size: 18px !important;
    p {
        font-weight: 100 !important;
        font-size: 15px !important;
        margin: 0% !important;
    }
}

.diagnosis {
    padding-top: 2rem;
    text-align: left;
    font-family: 'Montserrat' !important;
    font-weight: 900 !important;
    font-size: 17px !important;
    p {
        font-weight: 100 !important;
        font-size: 13px !important;
    }
}

.medicines {
    padding-top: 2rem;
    text-align: left;
    font-family: 'Montserrat' !important;
    font-weight: 900 !important;
    font-size: 17px !important;
    p {
        font-weight: 100 !important;
        font-size: 13px !important;
        margin: 0% !important;
    }
}

.indications {
    padding-top: 2rem;
    text-align: left;
    font-family: 'Montserrat' !important;
    font-weight: 900 !important;
    font-size: 17px !important;
    p {
        font-weight: 100 !important;
        font-size: 13px !important;
        margin: 0% !important;
    }
}

.signature_date {
    margin-top: 5rem;
    font-family: 'Montserrat' !important;
    font-weight: 100 !important;
    font-size: 13px !important;
}

.down_card {
    font-family: 'Montserrat' !important;
    font-weight: 100 !important;
    font-size: 13px !important;
}


/* UPPER PANEL */

.patient_data {
    font-family: 'Montserrat' !important;
    text-align: left;
    font-weight: 600 !important;
    font-size: 18px !important;
    p {
        font-weight: 100 !important;
        font-size: 15px !important;
        margin: 0% !important;
    }
}

.pi-whatsapp:before {
    color: #e0e0e0;
}

.address_data {
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 20px;
    background: #f5f5f5 !important;
    font-family: 'Montserrat' !important;
    text-align: center;
    font-size: 13px !important;
}

.location_button {
    margin-top: 1.5rem;
    button {
        width: 70%;
        text-align: center !important;
        font-weight: 600 !important;
        font-size: 13px !important;
        font-family: 'Montserrat' !important;
        background: #451afd !important;
    }
}


/* TABLE */

.table_header {
    font-weight: 600 !important;
    font-size: 17px !important;
    font-family: 'Montserrat' !important;
    text-align: left;
    margin-bottom: 2rem;
    margin-left: 1rem !important;
}

::ng-deep .p-datatable table {
    font-family: 'Montserrat' !important;
    font-size: 13px !important;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th {
    background: rgba(234, 234, 238, 100%) !important;
}

::ng-deep button {
    margin-right: .5em !important;
}

::ng-deep .p-button.p-button-icon-only.p-button-rounded {
    height: 1.5rem !important;
    width: 1.5rem !important;
}

::ng-deep .pi {
    font-size: 0.7rem;
}

.button-accept {
    background: #451afd !important;
}

::ng-deep .p-button.p-button-danger.p-button-outlined,
.p-buttonset.p-button-danger>.p-button.p-button-outlined,
.p-splitbutton.p-button-danger>.p-button.p-button-outlined {
    color: #bbb2b2 !important;
}

.table_footer_percentage {
    font-weight: 600 !important;
    font-size: 16px !important;
    font-family: 'Montserrat' !important;
    text-align: center;
    margin-left: 1rem !important;
    span {
        color: red;
    }
}

.table_footer {
    font-weight: 600 !important;
    font-size: 16px !important;
    font-family: 'Montserrat' !important;
    text-align: left;
    margin-top: 1rem;
    margin-left: 1rem !important;
}

.table_footer_calculation {
    font-weight: 600 !important;
    font-size: 16px !important;
    font-family: 'Montserrat' !important;
    text-align: center;
    margin-top: 1rem;
    margin-left: 1rem !important;
}


/* PURCHASE STATUS */

.purchase_status {
    font-weight: 600 !important;
    font-size: 17px !important;
    font-family: 'Montserrat' !important;
    text-align: left;
    p {
        margin: 0% !important;
        margin-top: 0rem !important;
        font-size: 12px !important;
        span {
            color: #451afd;
        }
    }
}


/* BUTTON STATE */

.button-state {
    margin-right: 30rem !important;
    margin-top: 0.5rem !important;
    font-weight: 100 !important;
    font-size: 12px !important;
    font-family: 'Montserrat' !important;
    width: 10rem;
    height: 2rem;
    background: white;
    color: black;
}

.button-state:hover {
    background-color: #fff !important;
    color: black;
}

.button-finalizado {
    height: 10px;
    width: 10px;
    background-color: #00D897;
    border-radius: 50%;
    display: inline-block;
}