.tex-color-table {
  color: lightgray;

}
th {
  background-color:#E3E9EF !important;
  color: #B3B8BD !important;
}
.tex-style-title {
  font-family: 'Montserrat' !important;
  font-size: 28px !important;

}
.tex-style {
  font-family: 'Montserrat' !important;
  font-size: 14px !important;

}
.input-search {
  border-color: #E3E9EF !important;
}
.color-data {
  color: #52575D !important;
}
.button-edit {
  background-color: #451afd;
  width: 6rem;
  height: 2rem;
}
.button-edit:hover {
  background-color: #3f1bdd;
}

.register-btn {
  background-color: #451afd;
  border-radius: 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5rem;
  justify-content: space-between;
}
///////////
.select-state {
  width: 10rem;
}

.dot-pendiente {
  height: 10px;
  width: 10px;
  background-color: #E94E60;
  border-radius: 50%;
  display: inline-block;
}

.dot-procesando {
  height: 10px;
  width: 10px;
  background-color: #E9D44E;
  border-radius: 50%;
  display: inline-block;
}

/* UPLOAD DATA */
::ng-deep .ng-tns-c125-11 .ng-star-inserted {
  background: #fff !important;
}

::ng-deep .content[_ngcontent-dyx-c34] {
  height: auto ;
}
::ng-deep .p-dialog .p-dialog-header {
  background: #f5f5f5 !important;
}

::ng-deep .p-dialog .p-dialog-content {
  background: #f5f5f5 !important;
}
::ng-deep .p-calendar {
  border-color: #fff;
}
